{{!-- <h1>About</h1>
<p>Version 1.0.0</p>
<p>StroyBook is a app to share your life </p> --}}
<center>
<div class="container">
  <div class="jumbotron" style="margin-top: 40px">
    <h1>About</h1>
    <p>Version 1.0.0</p>
    <p>A much more sophisticated project. A social network for creating public and private stories.   This app uses a Google OAuth 2.0 strategy for authentication. Users can login and create stories which can be set to public or private. They can also choose if comments are allowed to be posted. </p>
  </div>
</div>
</center>
<footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">StoryBooks</h5>
                <p class="grey-text text-lighten-4">Share your life with world.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/stories">Public Stories</a></li>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2019 StoryBooks
            Made by FAIZAN ALI
            </div>
          </div>
        </footer>